   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    h1{
      margin-top:100px;
    }
    body {
            margin: 0;
            height: 100vh;
            display: flex;
            align-items: center;
             background: linear-gradient(#141e30, #243b55);
            overflow:hidden;
        }
       
        .container{
          width:500px;
          box-shadow: 10px 10px 5px lightblue;
          border-radius: 10px;
          
        }
        .container{
            background: white;
            padding: 5px 10px;
        }
    </style>
</head>
<body>
    <div class="container">
      <div class="row justify-content-md-center"> 
        <div class="col-md-auto"> 
          <h1>Editing project</h1>

          <%= render "form", project: @project %>

          <br>

          <div>
            <%= link_to "Show this project", @project %> |
            <%= link_to "Back to projects", projects_path %>
          </div>
      </div>    
      </div>       
    </div> 



    </body>
</html>
